

<!DOCTYPE html>
<html lang="en">
<head>
  <link href="../static/css/counties.css" rel="stylesheet">
  <link href="../static/css/county_graph.css" rel="stylesheet">
  <script src="../static/js/jquery-1.11.2.js"></script>
  <script src="../static/js/signUp.js"></script>
  <script src="../static/js/d3.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  <script>
    jQuery(document).ready(function() {
      jQuery('.tabs .tab-links a').on('click', function(e)  {
        var currentAttrValue = jQuery(this).attr('href');
          // Show/Hide Tabs
          // jQuery('.tabs ' + currentAttrValue).slideDown(400).siblings().slideUp(400);
          // Show/Hide Tabs
          jQuery('.tabs ' + currentAttrValue).fadeIn(400).siblings().hide();
          // Change/remove current tab to active
          jQuery(this).parent('li').addClass('active').siblings().removeClass('active');
          e.preventDefault();
        });
    });
  </script>

  <script>
    function buildHtmlTable() {
      var myList = $("<div/>").html('{{data}}').text();
      document.getElementById("county_table").innerHTML = myList;
    }
  </script>

  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body onLoad="buildHtmlTable()">
  <div class="container">
    <div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><a href="/index">Home</a></li>
          <li role="presentation" class="active"><a href="/showCounties">Counties</a></li>
          <li role="presentation"><a href="/showDebts">Debts</a></li>
          <li role="presentation"><a href="/showEarnings">Earnings</a></li>
          <li role="presentation"><a href="/showEmployers">Employers</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">Finances of California</h3>
    </div>
    <div class="jumbotron" align="center">
      <h1>Counties and their stats.</h1>
      <p class="lead"></p>
    </div>
    <div class="row marketing">
      <div class="col-lg-6">
        <div class="text-muted">
          <div class="tabs" align="center">
            <div class="tab-links">
              <li class="active"><a href="#tab1">Information</a></li>
              <li><a href="#tab2">Median Wage & Population</a></li>
              <li><a href="#tab3">Genders</a></li>
              <li><a href="#tab4">Data</a></li>
            </div>
            <div class="tab-content">
              <div id="tab1" class="tab active">

              </div>
              <div id="tab2" class="tab">
                <div id="chart"></div>
                <label><input type="checkbox" id="check1">Sort Population</input></label>
                <label><input type="checkbox" id="check2">Sort Median Wage</input></label>
                <script src="../static/js/county_graph.js"></script>
              </div>
              <div id="tab3" class="tab">
                <div id="chart2"></div>
                <script src="../static/js/chart2.js"></script>
                <label><input type="checkbox" id="check3">Sort Population Difference</input></label>
              </div>
              <div id="tab4" class="tab">
                <div id="county_table" align="center"></div>
              </div>
            </div>        
          </div>
        </div>
      </div>
    </div>
    <div id="container">
      <footer class="footer">
        <p>&copy; Gabriel Al-Harbi 2015</p>
      </footer>
    </div>
  </body>
  </html>

