

<!DOCTYPE html>
<html lang="en">
<head>
  <link href="../static/css/counties.css" rel="stylesheet">
  <link href="../static/css/county_graph.css" rel="stylesheet">
  <script src="../static/js/jquery-1.11.2.js"></script>
  <script src="../static/js/signUp.js"></script>
  <script src="../static/js/d3.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  <script>
    jQuery(document).ready(function() {
      jQuery('.tabs .tab-links a').on('click', function(e)  {
        var currentAttrValue = jQuery(this).attr('href');
          // Show/Hide Tabs
          // jQuery('.tabs ' + currentAttrValue).slideDown(400).siblings().slideUp(400);
          // Show/Hide Tabs
          jQuery('.tabs ' + currentAttrValue).fadeIn(400).siblings().hide();
          // Change/remove current tab to active
          jQuery(this).parent('li').addClass('active').siblings().removeClass('active');
          e.preventDefault();
        });
    });
  </script>

  <script>
    function buildHtmlTable() {
      var myList = $("<div/>").html('{{data}}').text();
      document.getElementById("table").innerHTML = myList;
    }
  </script>

  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body onLoad="buildHtmlTable()">
  <div class="container">
    <div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><a href="/index">Home</a></li>
          <li role="presentation"><a href="/showCounties">Counties</a></li>
          <li role="presentation"><a href="/showDebts">Debts</a></li>
          <li role="presentation" class="active"><a href="/showEarnings">Earnings</a></li>
          <!-- <li role="presentation"><a href="/showEmployers">Employers</a></li> -->
          <li role="presentation"><a href="/showState">State</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">Finances</h3>
    </div>
    <div class="jumbotron" align="center">
      <h1 style="font-size:32px">Gender earnings by counties.</h1>
      <p class="lead"></p>
    </div>
    <div class="row marketing">
      <div class="col-lg-6">
        <div class="text-muted">
          <div class="tabs" align="center">
            <div class="tab-links">
              <li class="active"><a href="#tab1">Information</a></li>
              <li><a href="#tab2">Male & Female Median Wage</a></li>
              <li><a href="#tab3">Data</a></li>
              <!-- <li><a href="#tab4">Earning breakdown</a></li> -->
            </div>
            <div class="tab-content">
              <div id="tab1" class="tab active" style="font-size:16px">
                <p align="center"><b>Male & Female Median Wage</b>: This chart graphs the median wage of the average man and woman on a by county basis. What is interesting to note is that even though--not taking into consideration jobs--women on average make 90% of what men make, men only have a higher median wage in 16 out of 58 counties. This is known as Simpson's paradox and is most likely a result of men having higher median wages in larger counties.</p>
                <br>
                <p align="center"><b>Data</b>: This tab contains the data that was used in the previous tab. It also includes the median household earnings, which while unused in my graph, could tell its own story. This data can be used with other data sets found throughout the website.</p> 
              </div>
              <div id="tab2" class="tab">
                <div id="chart4"></div>
                <script src="../static/js/earning_graph.js"></script>
                <label><input type="checkbox" id="check5">Sort Male Median Wage</input></label>
                <label><input type="checkbox" id="check6">Sort Female Median Wage</input></label>
              </div>
              <div id="tab3" class="tab">
                <div id="table" align="center"></div>
              </div>
              <!-- <div id="tab4" class="tab">
                <div id="chart8"></div>
                <script src="../static/js/earning_breakdown.js"></script>
              </div> -->
            </div>        
          </div>
        </div>
      </div>
    </div>
    <div id="container">
      <footer class="footer">
        <p>&copy; Gabriel Al-Harbi 2015</p>
      </footer>
    </div>
  </body>
  </html>


