

<!DOCTYPE html>
<html lang="en">
<head>
  <link href="../static/css/counties.css" rel="stylesheet">
  <link href="../static/css/county_graph.css" rel="stylesheet">
  <script src="../static/js/jquery-1.11.2.js"></script>
  <script src="../static/js/signUp.js"></script>
  <script src="../static/js/d3.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  <script>
    jQuery(document).ready(function() {
      jQuery('.tabs .tab-links a').on('click', function(e)  {
        var currentAttrValue = jQuery(this).attr('href');
          // Show/Hide Tabs
          // jQuery('.tabs ' + currentAttrValue).slideDown(400).siblings().slideUp(400);
          // Show/Hide Tabs
          jQuery('.tabs ' + currentAttrValue).fadeIn(400).siblings().hide();
          // Change/remove current tab to active
          jQuery(this).parent('li').addClass('active').siblings().removeClass('active');
          e.preventDefault();
        });
    });
  </script>

  <script>
    function buildHtmlTable() {
      var myList = $("<div/>").html('{{data}}').text();
      document.getElementById("county_table").innerHTML = myList;
      var myList2 = $("<div/>").html('{{results}}').text();
      document.getElementById("state_table").innerHTML = myList2;
    }
  </script>

  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body onLoad="buildHtmlTable()">
  <div class="container">
    <div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><a href="/index">Home</a></li>
          <li role="presentation"><a href="/showCounties">Counties</a></li>
          <li role="presentation"><a href="/showDebts">Debts</a></li>
          <li role="presentation"><a href="/showEarnings">Earnings</a></li>
          <!-- <li role="presentation"><a href="/showEmployers">Employers</a></li> -->
          <li role="presentation" class="active"><a href="/showState">State</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">Finances</h3>
    </div>
    <div class="jumbotron" align="center">
      <h1 style="font-size:32px">Stats of the State.</h1>
      <p class="lead"></p>
    </div>
    <div class="row marketing">
      <div class="col-lg-6">
        <div class="text-muted">
          <div class="tabs" align="center">
            <div class="tab-links">
              <li class="active"><a href="#tab1">Information</a></li>
              <li><a href="#tab2">Median Deviation</a></li>
              <li><a href="#tab3">State Data</a></li>
              <li><a href="#tab4">State and County Data</a></li>
            </div>
            <div class="tab-content">
              <div id="tab1" class="tab active" style="font-size:16px">
                <p align="center"><b>Median Deviation</b>: This graph shows the ratio between the median wage of a county in comparison to the state. The different colorings of the bars indicate outlier values. These outliers have values that are either too high or too low and their behaviour, in my opinion, should be observed. This chart helps easily indicate whether or not certain counties are disproportionaley richer or poorer than the state median. An important sidenote is that this graph does not take into account cost of living of an area or the median debt of the individuals in that county--both of which could factor into why certain counties deviate further than others.</p>
                <br>
                <p align="center"><b>State Data</b>: This data set contains general information about the state. It holds the median wage, state revenue and number of counties in california. This is meant to be used in comparison with other counties.</p>
                <br>
                <p align="center"><b>State and County Data</b>: This data set contains the ratio of overall median wage for the state and median wage overall/male/female on a by county basis. This data is meant to help differentiate how much of a gap there is between the overall state and particular counties/genders.</p>
              </div>
              <div id="tab2" class="tab">
                <div id="chart7"></div>
                <label><input type="checkbox" id="check7">Sort Median Deviation</input></label>
              
                <script src="../static/js/state_graph.js"></script>
              </div>
              <div id="tab3" class="tab">
                <div id="county_table" align="center"></div>
              </div>
              <div id="tab4" class="tab">
                <div id="state_table" align="center"></div>
              </div>
            </div>        
          </div>
        </div>
      </div>
    </div>
    <div id="container">
      <footer class="footer">
        <p>&copy; Gabriel Al-Harbi 2015</p>
      </footer>
    </div>
  </body>
  </html>

